<div class="header">
    <div class="container-image">
        <img src="../../assets/logodigifred.png" alt="Digifred">
    </div>

    <div class="container-icons">
        <div>
            <fa-icon class="icons" [icon]="faGithub"
            [classes]="['custom-size', isMouseOverGithub ? 'fa-beat' : '']"
              (mouseenter)="onGithubMouseEnter()"
              (mouseleave)="onGithubMouseLeave()"
            [size]="'xl'" style="color: #b13979;"></fa-icon>

            <fa-icon class="icons" [icon]="faLinkedin"
            [classes]="['custom-size', isMouseOverLinkedin ? 'fa-beat' : '']"
              (mouseenter)="onLinkedinMouseEnter()"
              (mouseleave)="onLinkedinMouseLeave()"
            [size]="'xl'" style="color: #b13979;"></fa-icon>
            
            <fa-icon class="icons" [icon]="faInstagram"
            [classes]="['custom-size', isMouseOverInstagram ? 'fa-beat' : '']"
              (mouseenter)="onInstagramMouseEnter()"
              (mouseleave)="onInstagramMouseLeave()"
            [size]="'xl'" style="color: #b13979;"></fa-icon>
        </div>
        <p class="name">Leonardo Tamiozzo</p>
    </div>
</div>

