.container{
    margin: 0px 250px 0px 250px;
}

.tabela-header{
    background-color: #8D5250;
    height: 40px;
}

.add-buton{
    margin-left: 10px;
    height: 40px;
}

.tabela{
    background-color: #F6F1F1;
    border: 1px solid #8D5250;
}

.tabela th, .tabela td {
    color: #8D5250; /* Cor do texto nas células da tabela e nas páginas da paginação */
  }
  

.paginacao{
    display: flex;
    justify-content: center;
    background-color: #8D5250;
    height: 60px;
}